{% extends 'base.html' %} {% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary mb-5">
    <div class="container">
      <a href="{% url 'index' %}" class="navbar-brand">djAuthentication</a>
    </div>
</nav>
<div class="container">
<h2>Student Details:</h2>
<hr>
  <h4>Name : {{object.name}}</h4>
  <h4>Email : {{object.email}}</h4>
  <h4>Address : {{object.address}}</h4>
  <h4>Roll Number : {{object.id}}</h4>
  <hr>
  <a href="{% url 'home' %}" class="btn btn-primary">Back</a>
</div>

{% endblock %}